---
layout: layout.liquid
title: Future CSS
---

<h1>Challenge - Future CSS</h1>
<p>This is a demo of a new CSS feature called color-mix()</p>
<p>It uses different color spaces to mix two colors together, resulting in different colors depending on the color space</p>
<p>I will be showing this with <b class="pink">color 1</b> and <b class="orange">color 2</b></p>

<div class="container">
    <div class="srgb">sRGB</div>
    <div class="hsl">HSL</div>
    <div class="lch">LCH</div>
</div>