:root {
    --color1: #ff007f;
    --color2: #e77d22;
  }

body {
    font-family: Helvetica, sans-serif;
    color: black;
    background: white;
    padding: 0 40px;
    text-align: center;
}

h1 {
    font-size: 6em;
    letter-spacing: -2px;
}

.pink {
    color: var(--color1);
}

.orange {
    color: var(--color2);
}

.container {
    padding: 20px;
    width: 60vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.srgb {
    background: color-mix(in srgb, var(--color1), var(--color2));
    padding: 40px;
}

.hsl {
    background: color-mix(in hsl, var(--color1), var(--color2));
    padding: 40px;
}

.lch {
    background: color-mix(in lch, var(--color1), var(--color2));
    padding: 40px;
}